<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.core.mybatis.mapper.PolicyOrderFamilyMapper">
  <resultMap id="BaseResultMap" type="com.ninelives.insurance.model.PolicyOrderFamily">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="birth_date" jdbcType="DATE" property="birthDate" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="NamespacedResultMap" type="com.ninelives.insurance.model.PolicyOrderFamily">
    <id column="policyorderfamily_id" jdbcType="BIGINT" property="id" />
    <result column="policyorderfamily_order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="policyorderfamily_name" jdbcType="VARCHAR" property="name" />
    <result column="policyorderfamily_relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="policyorderfamily_birth_date" jdbcType="DATE" property="birthDate" />
    <result column="policyorderfamily_gender" jdbcType="VARCHAR" property="gender" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, order_id, name, relationship, birth_date, gender, created_date, update_date
  </sql>
  <insert id="insertList">
  	insert into public.policy_order_family (order_id,
    	name, relationship, 
    	birth_date, gender )
    values
    <foreach item="item" index="index" collection="list" separator=",">
    	(
    	#{item.orderId,jdbcType=VARCHAR},
		#{item.name,jdbcType=VARCHAR}, #{item.relationship,jdbcType=VARCHAR},
		#{item.birthDate,jdbcType=DATE}, #{item.gender,jdbcType=VARCHAR}
		)
    </foreach>
  </insert>
</mapper>