<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.core.mybatis.mapper.UserTempPasswordMapper">
  <resultMap id="BaseResultMap" type="com.ninelives.insurance.model.UserTempPassword">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="replace_date" jdbcType="TIMESTAMP" property="replaceDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, email, password, status, created_date, update_date, register_date, apply_date, 
    replace_date, expire_date
  </sql>

  <update id="updateByUserIdSelective" parameterType="com.ninelives.insurance.model.UserTempPassword">
    update public.user_temp_password
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replaceDate != null">
        replace_date = #{replaceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>