<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.core.mybatis.mapper.VoucherMapper">
  <resultMap id="NestedVoucherResultMap" type="com.ninelives.insurance.model.Voucher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="policy_start_date" jdbcType="DATE" property="policyStartDate" />
    <result column="policy_end_date" jdbcType="DATE" property="policyEndDate" />
    <result column="use_start_date" jdbcType="DATE" property="useStartDate" />
    <result column="use_end_date" jdbcType="DATE" property="useEndDate" />
    <result column="base_premi" jdbcType="INTEGER" property="basePremi" />
    <result column="total_premi" jdbcType="INTEGER" property="totalPremi" />
    <result column="has_beneficiary" jdbcType="BIT" property="hasBeneficiary" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="period_id" jdbcType="VARCHAR" property="periodId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="voucher_type" jdbcType="VARCHAR" property="voucherType" />
    <result column="inviter_reward_limit" jdbcType="INTEGER" property="inviterRewardLimit" />
    <result column="inviter_reward_count" jdbcType="INTEGER" property="inviterRewardCount" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="user_id" jdbcType="VARCHAR" property="inviterUserId" />
    <result column="max_use" jdbcType="INTEGER" property="maxUse" />
    <result column="approve_cnt" jdbcType="INTEGER" property="approveCnt" />
    <association property="corporateClient" resultMap="CorporateClientResultMap" />
     <association property="period" resultMap="PeriodResultMap" />
    <collection property="products" ofType="com.ninelives.insurance.model.Product">
	    <id column="product_id" jdbcType="VARCHAR" property="productId" />
	    <result column="premi" jdbcType="INTEGER" property="premi" />
	</collection>
  </resultMap>

	
  <resultMap id="PeriodResultMap" type="com.ninelives.insurance.model.Period">
  	<id column="period_id" jdbcType="VARCHAR" property="periodId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
   </resultMap>
  	

  <resultMap id="CorporateClientResultMap" type="com.ninelives.insurance.model.CorporateClient">
  	<id column="corporate_client_id" jdbcType="VARCHAR" property="corporateClientId" />
    <result column="corporate_client_name" jdbcType="VARCHAR" property="corporateClientName" />
    <result column="corporate_client_phone_number" jdbcType="VARCHAR" property="corporateClientPhoneNumber" />
    <result column="corporate_client_provider" jdbcType="VARCHAR" property="corporateClientProvider" />
    <result column="corporate_client_provider_id" jdbcType="VARCHAR" property="corporateClientProviderId" />
  </resultMap>
  
<!--   	<association property="inviter" javaType="com.ninelives.insurance.model.User"> -->
<!-- 	  	<id column="user_id" jdbcType="VARCHAR" property="userId" /> -->
<!--     </association> -->

 
  <sql id="Base_Column_List">
    id, code, title, subtitle, description, policy_start_date, policy_end_date, use_start_date, 
    use_end_date, base_premi, total_premi, has_beneficiary, product_count, period_id, 
    status, voucher_type, created_date, update_date, inviter_reward_limit, max_use, approve_cnt
  </sql>    
 
  <select id="selectByCode" resultMap="NestedVoucherResultMap">
  	select
  		vo.id, vo.code, vo.title, vo.subtitle, vo.policy_start_date, vo.policy_end_date, vo.use_start_date, 
	    vo.use_end_date, vo.base_premi, vo.total_premi, vo.has_beneficiary, vo.product_count, vo.period_id, 
	    vo.status, vo.voucher_type, vo.inviter_reward_limit, vo.created_date, vo.update_date, vo.max_use, vo.approve_cnt,
	    vop.product_id, vop.premi,
	    cc.corporate_client_provider_id, cc.corporate_client_provider,cc.corporate_client_name, cc.corporate_client_phone_number
  	from public.voucher vo 
  		inner join public.voucher_product vop on vop.voucher_id=vo.id
  		left outer join public.corporate_client cc on vo.corporate_client_id is not null and cc.corporate_client_id=vo.corporate_client_id  		
  	where vo.code = #{code,jdbcType=VARCHAR} 
  </select>
  
  
  <select id="selectAllVoucherByCorporateClientId" resultMap="NestedVoucherResultMap">
  select a.id, a.code, a.title, a.subtitle, a.description, a.policy_start_date,
		a.policy_end_date, a.use_start_date, a.use_end_date, a.base_premi, a.total_premi, a.has_beneficiary, a.product_count,
		a.period_id, a.status, a.voucher_type, a.created_date, a.update_date, a.inviter_reward_limit, a.max_use, a.approve_cnt,
		a.corporate_client_id, b.corporate_client_id, b.corporate_client_name, b.corporate_client_address, b.corporate_client_phone_number,
		b.corporate_client_email, b.corporate_client_provider, b.corporate_client_provider_id, b.created_date, b.created_by, b.update_date,
		b.update_by, c.period_id, c.name, c.value, c.unit, c.created_date, c.update_date, c.status, c.start_value, c.end_value
  from
    	 public.voucher a,
    	 public.corporate_client b, 
    	 public.period c
    	 where 
    	 a.corporate_client_id=b.corporate_client_id  
    	 and a.period_id=c.period_id  
    	 order by a.created_date desc
  </select>
  
  
  <select id="selectById" resultMap="NestedVoucherResultMap">
  	select
  		vo.id, vo.code, vo.title, vo.subtitle, vo.policy_start_date, vo.policy_end_date, vo.use_start_date, 
	    vo.use_end_date, vo.base_premi, vo.total_premi, vo.has_beneficiary, vo.product_count, vo.period_id, 
	    vo.status, vo.voucher_type, vo.inviter_reward_limit, vo.created_date, vo.update_date, vo.max_use, vo.approve_cnt,
	    vop.product_id, vop.premi,
	    cc.corporate_client_provider_id, cc.corporate_client_provider,cc.corporate_client_name, cc.corporate_client_phone_number
  	from public.voucher vo 
  		inner join public.voucher_product vop on vop.voucher_id=vo.id
  		left outer join public.corporate_client cc on vo.corporate_client_id is not null and cc.corporate_client_id=vo.corporate_client_id  		
  	where vo.id = #{voucherId,jdbcType=INTEGER} 
  </select>
  
  <select id="selectByInviteCode" resultMap="NestedVoucherResultMap">
  	select
  		vo.id, vo.code, vo.title, vo.subtitle, vo.policy_start_date, vo.policy_end_date, vo.use_start_date, 
	    vo.use_end_date, vo.base_premi, vo.total_premi, vo.has_beneficiary, vo.product_count, vo.period_id, 
	    vo.status, vo.voucher_type, vo.inviter_reward_limit, vo.created_date, vo.update_date, vo.max_use, vo.approve_cnt, 
	    vop.product_id, vop.premi, 
	    uiv.user_id, uiv.inviter_reward_count
  	from public.user_invite_voucher uiv, public.voucher vo, public.voucher_product vop
  	where uiv.code= #{code,jdbcType=VARCHAR} and vo.id = uiv.voucher_id and vop.voucher_id=vo.id
  </select>
  
  <update id="updateVoucherSelective" parameterType="com.ninelives.insurance.model.Voucher">
    update public.voucher
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="policyStartDate != null">
        policy_start_date = #{policyStartDate,jdbcType=TIMESTAMP},
      </if>
       <if test="policyEndDate != null">
        policy_end_date = #{policyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="useStartDate != null">
        use_start_date = #{useStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="useEndDate != null">
        use_end_date = #{useEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="period != null">
        period_id = #{period,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="basePremi != null">
        base_premi = #{basePremi,jdbcType=INTEGER},
      </if>
      <if test="hasBeneficiary != null">
        has_beneficiary = #{hasBeneficiary,jdbcType=BOOLEAN},
      </if>
       <if test="corporateClientId != null">
        corporate_client_id = #{corporateClientId,jdbcType=INTEGER},
      </if>
      
      <if test="true">
        update_date = now()
      </if>
     </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>