<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.api.mybatis.mapper.PolicyClaimCoverageMapper">
  <resultMap id="BaseResultMap" type="com.ninelives.insurance.api.model.PolicyClaimCoverage">
    <id column="claim_coverage_id" jdbcType="BIGINT" property="claimCoverageId" />
    <result column="claim_id" jdbcType="VARCHAR" property="claimId" />
    <result column="coverage_id" jdbcType="VARCHAR" property="coverageId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>  
  <sql id="Base_Column_List">
    claim_coverage_id, claim_id, coverage_id, status, created_date, update_date
  </sql>
  <insert id="insertList">
  	insert into public.policy_claim_coverage (claim_id, coverage_id, status)             
    values
    <foreach item="item" index="index" collection="list" separator=",">
    	(    	 
    	#{item.claimId,jdbcType=VARCHAR},
        #{item.coverageId,jdbcType=VARCHAR}, 
        #{item.status,jdbcType=VARCHAR}
		)
    </foreach>
  </insert>   
</mapper>