<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.api.mybatis.mapper.PolicyClaimMapper">
  <resultMap id="NestedPolicyClaimResultMap" type="com.ninelives.insurance.api.model.PolicyClaim">
    <id column="claim_id" jdbcType="VARCHAR" property="claimId" />
<!--     <result column="coverage_category_id" jdbcType="VARCHAR" property="coverageCategoryId" /> -->
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="claim_date" jdbcType="DATE" property="claimDate" />
    <result column="incident_date_time" jdbcType="TIMESTAMP" property="incidentDateTime" />
    <result column="incident_summary" jdbcType="VARCHAR" property="incidentSummary" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <association property="coverageCategory" javaType="com.ninelives.insurance.api.model.CoverageCategory">
    	<id column="covcat_coverage_category_id" jdbcType="VARCHAR" property="coverageCategoryId" />
    	<result column="covcat_name" jdbcType="VARCHAR" property="name" />
    </association>
    <association property="policyClaimDetail" javaType="com.ninelives.insurance.api.model.PolicyClaimDetailAccident">
    	<id column="detail_claim_id" jdbcType="VARCHAR" property="claimId" />
    	<result column="accident_address_country" jdbcType="VARCHAR" property="accidentAddressCountry" />
	    <result column="accident_address_province" jdbcType="VARCHAR" property="accidentAddressProvince" />
	    <result column="accident_address_city" jdbcType="VARCHAR" property="accidentAddressCity" />
	    <result column="accident_address" jdbcType="VARCHAR" property="accidentAddress" />
    </association>
    <association property="policyClaimBankAccount" javaType="com.ninelives.insurance.api.model.PolicyClaimBankAccount">
    	<id column="account_claim_id" jdbcType="VARCHAR" property="claimId" />
	    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
	    <result column="account_bank_name" jdbcType="VARCHAR" property="accountBankName" />
	    <result column="account_bank_swift_code" jdbcType="VARCHAR" property="accountBankSwiftCode" />
	    <result column="account_bank_swift" jdbcType="VARCHAR" property="accountBankSwift" />
	    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />	 
    </association>
    <association property="policyOrder" javaType="com.ninelives.insurance.api.model.PolicyOrder">
    	<id column="order_id" jdbcType="VARCHAR" property="orderId" />
    </association>
<!--     <association property="policyOrder" javaType="com.ninelives.insurance.api.model.PolicyOrder"> -->
<!--     	<id column="po_order_id" jdbcType="VARCHAR" property="orderId" /> -->
<!--     	<result column="po_order_date" jdbcType="DATE" property="orderDate" /> -->
<!-- 	    <result column="po_user_id" jdbcType="VARCHAR" property="userId" /> -->
<!-- 	    <result column="po_coverage_category_id" jdbcType="VARCHAR" property="coverageCategoryId" /> -->
<!-- 	    <result column="po_has_beneficiary" jdbcType="BIT" property="hasBeneficiary" /> -->
<!-- 	    <result column="po_period_id" jdbcType="VARCHAR" property="periodId" /> -->
<!-- 	    <result column="po_policy_number" jdbcType="VARCHAR" property="policyNumber" /> -->
<!-- 	    <result column="po_policy_start_date" jdbcType="DATE" property="policyStartDate" /> -->
<!-- 	    <result column="po_policy_end_date" jdbcType="DATE" property="policyEndDate" /> -->
<!-- 	    <result column="po_total_premi" jdbcType="INTEGER" property="totalPremi" /> -->
<!-- 	    <result column="po_product_count" jdbcType="INTEGER" property="productCount" /> -->
<!-- 	    <result column="po_status" jdbcType="VARCHAR" property="status" /> -->
<!-- 	    <result column="po_created_date" jdbcType="TIMESTAMP" property="createdDate" /> -->
<!--     </association> -->
    <collection property="policyClaimDocuments" ofType="com.ninelives.insurance.api.model.PolicyClaimDocument">
    	<id column="claim_document_id" jdbcType="BIGINT" property="claimDocumentId" />
	    <result column="claim_doc_type_id" jdbcType="VARCHAR" property="claimDocTypeId" />
	    <result column="claim_file_id" jdbcType="BIGINT" property="fileId" />
	    <association property="claimDocType" javaType="com.ninelives.insurance.api.model.ClaimDocType">
	    	<id column="claim_doc_type_id" jdbcType="VARCHAR" property="claimDocTypeId" />
		    <result column="claim_doc_type_name" jdbcType="VARCHAR" property="name" />
	    </association>
    </collection>
    <collection property="policyClaimCoverages" ofType="com.ninelives.insurance.api.model.PolicyClaimCoverage">
        <id column="claim_coverage_id" jdbcType="BIGINT" property="claimCoverageId" />
	    <result column="coverage_id" jdbcType="VARCHAR" property="coverageId" />
	    <result column="claim_coverage_status" jdbcType="VARCHAR" property="status" />
    </collection>    
  </resultMap>
  <sql id="Base_Column_List">
    claim_id, coverage_category_id, order_id, user_id, claim_date, incident_date_time, incident_summary, status, 
    created_date, update_date
  </sql>
  <sql id="NestedPolicyClaimColumnList">
    a.claim_id, a.order_id, a.user_id, a.claim_date, a.incident_date_time, a.incident_summary, a.status, 
    a.created_date, a.update_date,
    b.claim_id as detail_claim_id, b.accident_address_country, b.accident_address_province, accident_address_city, 
    b.accident_address,
    c.claim_id as account_claim_id, c.account_name, c.account_bank_name, c.account_bank_swift_code, c.account_bank_swift, 
    c.account_number,
    d.claim_document_id, d.claim_doc_type_id, d.file_id as claim_file_id,
    e.claim_doc_type_id, e.name as claim_doc_type_name,
    f.claim_coverage_id, f.coverage_id, f.status as claim_coverage_status,
    h.coverage_category_id as covcat_coverage_category_id, h.name as covcat_name
  </sql>
  <sql id="NestedPolicyClaimTableJoinList">
    left join public.policy_claim_detail_accident b on b.claim_id=a.claim_id
    left join public.policy_claim_bank_account c on c.claim_id=a.claim_id
    left join public.policy_claim_document d on d.claim_id=a.claim_id
    left join public.claim_doc_type e on e.claim_doc_type_id=d.claim_doc_type_id
    left join public.policy_claim_coverage f on f.claim_id=a.claim_id
    left join public.coverage_category h on h.coverage_category_id=a.coverage_category_id
  </sql>
  
<!--     
	left join public.policy_order g on g.order_id=a.order_id
    
	g.order_id as po_order_id, g.order_date as po_order_date, g.user_id as po_user_id, 
    g.coverage_category_id as po_coverage_category_id, g.has_beneficiary as po_has_beneficiary, 
    g.period_id as po_period_id, g.policy_number as po_policy_number, 
    g.policy_start_date as po_policy_start_date, g.policy_end_date as po_policy_end_date, 
    g.total_premi as po_total_premi, g.product_count as po_product_count, g.status as po_status, 
    g.created_date as po_created_date, -->
  
  <!--   sql start -->
  <select id="selectByUserIdAndClaimId" resultMap="NestedPolicyClaimResultMap">
  	select 
  		<include refid="NestedPolicyClaimColumnList"/>
    from 
    	public.policy_claim a
    	<include refid="NestedPolicyClaimTableJoinList"/>
    where a.user_id=#{userId,jdbcType=VARCHAR}
    	and a.claim_id=#{claimId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUserIdAndOrderIdAndStatusSet" resultMap="NestedPolicyClaimResultMap">
  	select 
  		<include refid="NestedPolicyClaimColumnList"/>
    from (
   		select 
   			<include refid="Base_Column_List"/>
   		from
   			public.policy_claim a
   		where a.user_id=#{userId,jdbcType=VARCHAR}
   			and a.order_id=#{orderId,jdbcType=VARCHAR}
	    	<if test="statusSet != null">
	    		and a.status in
	    		<foreach item="item" index="index" collection="statusSet"
	      			open="(" separator="," close=")">#{item}
	        	</foreach>
	    	</if>
	    order by a.created_date desc
	    limit #{limit,jdbcType=INTEGER}
	    offset #{offset,jdbcType=INTEGER}    			
   	) as a
   	<include refid="NestedPolicyClaimTableJoinList"/>
   </select>
  
  <select id="selectByUserIdAndStatusSet" resultMap="NestedPolicyClaimResultMap">
  	select 
  		<include refid="NestedPolicyClaimColumnList"/>
    from (	
   		select 
   			<include refid="Base_Column_List"/>
   		from
   			public.policy_claim a
   		where a.user_id=#{userId,jdbcType=VARCHAR}
	    	<if test="statusSet != null">
	    		and a.status in
	    		<foreach item="item" index="index" collection="statusSet"
	      			open="(" separator="," close=")">#{item}
	        	</foreach>
	    	</if>
	    order by a.created_date desc
	    limit #{limit,jdbcType=INTEGER}
	    offset #{offset,jdbcType=INTEGER}    			
   	) as a
   	<include refid="NestedPolicyClaimTableJoinList"/>    
  </select>
</mapper>