<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.api.mybatis.mapper.UserFileMapper">
  <resultMap id="BaseResultMap" type="com.ninelives.insurance.api.model.UserFile">
    <id column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="file_use_type" jdbcType="VARCHAR" property="fileUseType" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="upload_date" jdbcType="DATE" property="uploadDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    file_id, user_id, file_use_type, file_path, status, file_size, content_type, upload_date, 
    create_date, update_date
  </sql>
  
  <select id="countByUserIdAndFileIdsAndStatusAndUseType" resultType="int">
  	select count(*) 
  	from user_file
  	where user_id=#{userId,jdbcType=VARCHAR} and status=#{status,jdbcType=VARCHAR} and file_use_type= #{useType,jdbcType=VARCHAR}
  		and file_id in
  		<foreach item="item" index="index" collection="fileIds"
      		open="(" separator="," close=")">#{item}
        </foreach> 
  </select>
  
  <insert id="insertSelective" parameterType="com.ninelives.insurance.api.model.UserFile">
    insert into public.user_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fileUseType != null">
        file_use_type,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
      <if test="uploadDate != null">
        upload_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="fileUseType != null">
        #{fileUseType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=DATE},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert> 
</mapper>