<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.api.mybatis.mapper.PolicyClaimDocumentMapper">
  <resultMap id="BaseResultMap" type="com.ninelives.insurance.model.PolicyClaimDocument">
    <id column="claim_document_id" jdbcType="BIGINT" property="claimDocumentId" />
    <result column="claim_id" jdbcType="VARCHAR" property="claimId" />
    <result column="claim_doc_type_id" jdbcType="VARCHAR" property="claimDocTypeId" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>  
  <sql id="Base_Column_List">
    claim_document_id, claim_id, claim_doc_type_id, file_id, created_date, update_date
  </sql>  
  <insert id="insertList">
  	insert into public.policy_claim_document (claim_id, claim_doc_type_id, file_id)             
    values
    <foreach item="item" index="index" collection="list" separator=",">
    	(    	 
    	#{item.claimId,jdbcType=VARCHAR},
        #{item.claimDocTypeId,jdbcType=VARCHAR},
        #{item.fileId,jdbcType=BIGINT}
		)
    </foreach>
  </insert>
  
<!--   <insert id="insertList"> -->
<!--   	insert into public.policy_claim_document (claim_document_id, claim_id,  -->
<!--         claim_doc_type_id, file_id)              -->
<!--     values -->
<!--     <foreach item="item" index="index" collection="list" separator=","> -->
<!--     	(    	 -->
<!--     	#{item.claimDocumentId,jdbcType=BIGINT},  -->
<!--     	#{item.claimId,jdbcType=VARCHAR}, -->
<!--         #{item.claimDocTypeId,jdbcType=VARCHAR}, -->
<!--         #{item.fileId,jdbcType=BIGINT} -->
<!-- 		) -->
<!--     </foreach> -->
<!--   </insert> -->
</mapper>