<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninelives.insurance.api.mybatis.mapper.PolicyOrderMapper">
  <resultMap id="NestedPolicyOrderResultMap" type="com.ninelives.insurance.model.PolicyOrder">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_date" jdbcType="DATE" property="orderDate" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="coverage_category_id" jdbcType="VARCHAR" property="coverageCategoryId" />
    <result column="has_beneficiary" jdbcType="BIT" property="hasBeneficiary" />
    <result column="period_id" jdbcType="VARCHAR" property="periodId" />
    <result column="policy_number" jdbcType="VARCHAR" property="policyNumber" />
    <result column="policy_start_date" jdbcType="DATE" property="policyStartDate" />
    <result column="policy_end_date" jdbcType="DATE" property="policyEndDate" />
    <result column="base_premi" jdbcType="INTEGER" property="basePremi" />
    <result column="total_premi" jdbcType="INTEGER" property="totalPremi" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="has_voucher" jdbcType="BIT" property="hasVoucher" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <association property="period" resultMap="PeriodResultMap" />
    <association property="coverageCategory" javaType="com.ninelives.insurance.model.CoverageCategory">
    	<id column="covcat_coverage_category_id" jdbcType="VARCHAR" property="coverageCategoryId" />
    	<result column="covcat_name" jdbcType="VARCHAR" property="name" />
    </association>
    <association property="payment" resultMap="PolicyPaymentResultMap" />
    <association property="policyOrderVoucher" javaType="com.ninelives.insurance.model.PolicyOrderVoucher">
    	 <id column="pov_id" jdbcType="BIGINT" property="id" />
    	 <association property="voucher" javaType="com.ninelives.insurance.model.Voucher">
    	 	<id column="pov_voucher_id" jdbcType="INTEGER" property="id" />
    	 	<result column="pov_code" jdbcType="VARCHAR" property="code" />
    		<result column="pov_inviter_user_id" jdbcType="VARCHAR" property="inviterUserId" />
    		<result column="pov_voucher_type" jdbcType="VARCHAR" property="voucherType" />
    	 </association>
    </association>
    <collection property="policyOrderProducts" ofType="com.ninelives.insurance.model.PolicyOrderProduct">
    	<id column="order_product_id" jdbcType="BIGINT" property="orderProductId" />
	    <result column="order_product_coverage_id" jdbcType="VARCHAR" property="coverageId" />
	    <result column="order_product_period_id" jdbcType="VARCHAR" property="periodId" />
	    <result column="order_product_product_id" jdbcType="VARCHAR" property="productId" />
	    <result column="order_product_coverage_name" jdbcType="VARCHAR" property="coverageName" />
	    <result column="order_product_coverage_max_limit" jdbcType="BIGINT" property="coverageMaxLimit" />
	    <result column="order_product_coverage_has_beneficiary" jdbcType="BIT" property="coverageHasBeneficiary" />
	    <result column="order_product_premi" jdbcType="INTEGER" property="premi" />
	    <result column="order_product_base_premi" jdbcType="INTEGER" property="basePremi" />
<!-- 	    <result column="order_product_coverage_display_rank" jdbcType="INTEGER" property="coverageDisplayRank" /> -->
<!-- 	    <collection property="coverageClaimDocTypes" ofType="com.ninelives.insurance.model.CoverageClaimDocType"> -->
<!-- 	    	<id column="coverage_claim_doc_type_id" jdbcType="INTEGER" property="coverageClaimDocTypeId" /> -->
<!-- 	    	<result column="is_mandatory" jdbcType="BIT" property="isMandatory" /> -->
<!-- 		    <association property="claimDocType" javaType="com.ninelives.insurance.model.ClaimDocType"> -->
<!-- 		    	<id column="claim_doc_type_id" jdbcType="VARCHAR" property="claimDocTypeId" /> -->
<!-- 			    <result column="claim_doc_type_name" jdbcType="VARCHAR" property="name" /> -->
<!-- 	    	</association>	 -->
<!-- 	    </collection> -->
<!-- 	    <collection property="claimDocTypes" ofType="com.ninelives.insurance.model.ClaimDocType"> -->
<!-- 	    	<id column="claim_doc_type_id" jdbcType="VARCHAR" property="claimDocTypeId" /> -->
<!-- 		    <result column="claim_doc_type_name" jdbcType="VARCHAR" property="name" /> -->
<!-- 	    </collection> -->
    </collection>    
  </resultMap>
  
  <resultMap id="PeriodResultMap" type="com.ninelives.insurance.model.Period">
    <id column="period_period_id" jdbcType="VARCHAR" property="periodId" />
    <result column="period_name" jdbcType="VARCHAR" property="name" />
    <result column="period_value" jdbcType="INTEGER" property="value" />
    <result column="period_unit" jdbcType="VARCHAR" property="unit" />
  </resultMap>
  
  <resultMap id="NestedPolicyOrderWithBeneficiaryResultMap" type="com.ninelives.insurance.model.PolicyOrder">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_date" jdbcType="DATE" property="orderDate" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="coverage_category_id" jdbcType="VARCHAR" property="coverageCategoryId" />
    <result column="has_beneficiary" jdbcType="BIT" property="hasBeneficiary" />
    <result column="period_id" jdbcType="VARCHAR" property="periodId" />
    <result column="policy_number" jdbcType="VARCHAR" property="policyNumber" />
    <result column="policy_start_date" jdbcType="DATE" property="policyStartDate" />
    <result column="policy_end_date" jdbcType="DATE" property="policyEndDate" />
    <result column="base_premi" jdbcType="INTEGER" property="basePremi" />
    <result column="total_premi" jdbcType="INTEGER" property="totalPremi" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <association property="policyOrderBeneficiary" javaType="com.ninelives.insurance.model.PolicyOrderBeneficiary">
    	<id column="order_beneficiary_id" jdbcType="BIGINT" property="orderBeneficiaryId" />
    </association>
  </resultMap>
  
  <resultMap id="PolicyPaymentResultMap" type="com.ninelives.insurance.model.PolicyPayment">
    <id column="payment_id" jdbcType="VARCHAR" property="id" />
    <result column="payment_start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="payment_order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="payment_user_id" jdbcType="VARCHAR" property="userId" />
    <result column="payment_seq" jdbcType="INTEGER" property="paymentSeq" />
    <result column="payment_notif_payment_seq" jdbcType="INTEGER" property="notifPaymentSeq" />
    <result column="payment_total_amount" jdbcType="INTEGER" property="totalAmount" />
    <result column="payment_status" jdbcType="VARCHAR" property="status" />
    <result column="payment_type" jdbcType="VARCHAR" property="paymentType" />
    <result column="payment_provider_transaction_id" jdbcType="VARCHAR" property="providerTransactionId" />
    <result column="payment_provider_transaction_status" jdbcType="VARCHAR" property="providerTransactionStatus" />
    <result column="payment_provider_status_code" jdbcType="INTEGER" property="providerStatusCode" />
    <result column="payment_charge_time" jdbcType="TIMESTAMP" property="chargeTime" />
    <result column="payment_notif_pending_time" jdbcType="TIMESTAMP" property="notifPendingTime" />
    <result column="payment_notif_success_time" jdbcType="TIMESTAMP" property="notifSuccessTime" />
    <result column="payment_notif_failed_time" jdbcType="TIMESTAMP" property="notifFailedTime" />
    <result column="payment_notif_expired_time" jdbcType="TIMESTAMP" property="notifExpiredTime" />
  </resultMap>
      
  <sql id="Base_Column_List">
    order_id, order_date, user_id, coverage_category_id, has_beneficiary, period_id, policy_number, 
    policy_start_date, policy_end_date, base_premi, total_premi, product_count, has_voucher, status, created_date, 
    update_date
  </sql>
  
  <sql id="NestedPolicyOrderColumnList">
    a.order_id, a.order_date, a.user_id, a.coverage_category_id, a.has_beneficiary, a.period_id, a.policy_number, 
   	a.policy_start_date, a.policy_end_date, a.base_premi, a.total_premi, a.product_count, a.has_voucher, a.status, a.created_date,
   	b.order_product_id, b.coverage_id as order_product_coverage_id, b.period_id as order_product_period_id, 
   	b.product_id as order_product_product_id, b.coverage_name as order_product_coverage_name, 
   	b.coverage_max_limit as order_product_coverage_max_limit, 
   	b.coverage_has_beneficiary as order_product_coverage_has_beneficiary, 
   	b.premi as order_product_premi, b.base_premi as order_product_base_premi,
   	c.period_id as period_period_id, c.name as period_name, c.value as period_value, c.unit as period_unit, 
   	e.coverage_category_id as covcat_coverage_category_id, e.name as covcat_name,
   	pp.id as payment_id, 
   	pp.start_time as payment_start_time,
   	pp.order_id as payment_order_id, 
   	pp.user_id as payment_user_id, 
   	pp.payment_seq as payment_seq, 
   	pp.notif_payment_seq as payment_notif_payment_seq, 
   	pp.total_amount as payment_total_amount, 
   	pp.status as payment_status, 
   	pp.payment_type, 
   	pp.provider_transaction_id as payment_provider_transaction_id, 
    pp.provider_transaction_status as payment_provider_transaction_status, 
    pp.provider_status_code as payment_provider_status_code, 
	pp.charge_time as payment_charge_time, 
	pp.notif_pending_time as payment_notif_pending_time, 
	pp.notif_success_time as payment_notif_success_time, 
	pp.notif_failed_time as payment_notif_failed_time,
    pp.notif_expired_time as payment_notif_expired_time,
    pov.id as pov_id,
    pov.voucher_id as pov_voucher_id,
    pov.code as pov_code,
    pov.voucher_type as pov_voucher_type,
    pov.inviter_user_id as pov_inviter_user_id
  </sql>

<!--      	
	d.display_rank as order_product_coverage_display_rank,
	g.claim_doc_type_id, g.name as claim_doc_type_name 
-->
  
  <sql id="NestedPolicyOrderTableJoinList">
    inner join public.policy_order_product as b on b.order_id=a.order_id
    inner join public.period c on c.period_id=a.period_id
    inner join public.coverage_category e on e.coverage_category_id=a.coverage_category_id
    left outer join public.policy_payment pp on pp.order_id=a.order_id
    left outer join public.policy_order_voucher pov on pov.order_id=a.order_id and a.has_voucher=true    
  </sql>

<!--     
	inner join public.coverage d on  d.coverage_id = b.coverage_id
    left outer join public.coverage_claim_doc_type f on f.coverage_id=d.coverage_id
  	left outer join public.claim_doc_type g on g.claim_doc_type_id=f.claim_doc_type_id
-->

  
  <!--   sql start -->
  
   
  <select id="selectByUserIdAndOrderId" resultMap="NestedPolicyOrderResultMap">
  	select
  		<include refid="NestedPolicyOrderColumnList"/>
    from
    	public.policy_order as a    	
    	<include refid="NestedPolicyOrderTableJoinList"/>
    where a.order_id=#{orderId,jdbcType=VARCHAR}
    	and a.user_id=#{userId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUserId" resultMap="NestedPolicyOrderResultMap">
  	select 
  		<include refid="NestedPolicyOrderColumnList"/>
    from
    	(
    	select
    		<include refid="Base_Column_List"/>
    	from public.policy_order as a
    	where a.user_id=#{userId,jdbcType=VARCHAR}
    	order by a.created_date desc
    	limit #{limit,jdbcType=INTEGER}
    	offset #{offset,jdbcType=INTEGER}
    	) as a
    	<include refid="NestedPolicyOrderTableJoinList"/>    
  </select>
  
  <select id="selectWhereStatusActiveByUserId" resultMap="NestedPolicyOrderResultMap">
   	select 
  		<include refid="NestedPolicyOrderColumnList"/>
    from
    	(
    	select
    		<include refid="Base_Column_List"/>
    	from public.policy_order as a
    	where a.user_id=#{userId,jdbcType=VARCHAR}
    		and a.status='APPROVED'
    		and current_date between a.policy_start_date and a.policy_end_date
    	order by a.created_date desc
    	limit #{limit,jdbcType=INTEGER}
    	offset #{offset,jdbcType=INTEGER}
    	) as a
    	<include refid="NestedPolicyOrderTableJoinList"/>
  </select>
  
  <select id="selectWhereStatusApprovedByUserId" resultMap="NestedPolicyOrderResultMap">
   	select 
  		<include refid="NestedPolicyOrderColumnList"/>
    from
    	(
    	select
    		<include refid="Base_Column_List"/>
    	from public.policy_order as a
    	where a.user_id=#{userId,jdbcType=VARCHAR}
    		and a.status='APPROVED'
    		and current_date &lt; a.policy_start_date
    	order by a.created_date desc
    	limit #{limit,jdbcType=INTEGER}
    	offset #{offset,jdbcType=INTEGER}
    	) as a
    	<include refid="NestedPolicyOrderTableJoinList"/>
  </select>
  
  <select id="selectWhereStatusExpiredOrTerminatedByUserId" resultMap="NestedPolicyOrderResultMap">
   	select 
  		<include refid="NestedPolicyOrderColumnList"/>
    from
    	(
    	select
    		<include refid="Base_Column_List"/>
    	from public.policy_order as a
    	where a.user_id=#{userId,jdbcType=VARCHAR}
	    	and (
		    	( a.status='APPROVED' and current_date &gt; a.policy_end_date )
		    	or
		    	( a.status='TERMINATED')
	    	)     	
    	order by a.created_date desc
    	limit #{limit,jdbcType=INTEGER}
    	offset #{offset,jdbcType=INTEGER}
    	) as a
    	<include refid="NestedPolicyOrderTableJoinList"/>
  </select>
  
  <select id="selectWhereStatusBeforeApprovedByUserId" resultMap="NestedPolicyOrderResultMap">
   	select 
  		<include refid="NestedPolicyOrderColumnList"/>
    from
    	(
    	select
    		<include refid="Base_Column_List"/>
    	from public.policy_order as a
    	where a.user_id=#{userId,jdbcType=VARCHAR}
	    	and a.status in ('SUBMITTED','INPAYMENT','PAID')    	
    	order by a.created_date desc
    	limit #{limit,jdbcType=INTEGER}
    	offset #{offset,jdbcType=INTEGER}
    	) as a
    	<include refid="NestedPolicyOrderTableJoinList"/>  
  </select>
  
  <select id="selectPaidOrderExists" resultType="boolean">
  	select exists (
	  	select 1 from public.policy_order a
	  	where a.user_id=#{userId,jdbcType=VARCHAR}
	  		and a.status != 'SUBMITTED'
  	)
  </select>
  
  <select id="selectCoverageWithConflictedPolicyDate" resultType="com.ninelives.insurance.model.PolicyOrderCoverage">
  	select a.order_id, b.coverage_id, b.coverage_name, a.order_date, a.policy_start_date, a.policy_end_date
  	from public.policy_order as a, public.policy_order_product as b 
  	where a.user_id=#{userId,jdbcType=VARCHAR} 
  		and
	    (
  		  (#{policyStartDate,jdbcType=DATE} between a.policy_start_date and a.policy_end_date) or
		  (#{policyEndDate,jdbcType=DATE} between a.policy_start_date and a.policy_end_date)
		) 
		and a.order_date &gt;= #{dueOrderDate,jdbcType=DATE}
		and a.status != 'TERMINATED' 
        and b.order_id=a.order_id
        and b.coverage_id in
        <foreach item="item" index="index" collection="coverageIds"
      		open="(" separator="," close=")">#{item}
        </foreach>
  </select>

  <select id="selectWithBeneficiaryByUserIdAndOrderId" resultMap="NestedPolicyOrderWithBeneficiaryResultMap">
  	select a.order_id, a.order_date, a.user_id, a.coverage_category_id, a.has_beneficiary, a.period_id, a.policy_number, 
   		a.policy_start_date, a.policy_end_date, a.base_premi, a.total_premi, a.product_count, a.status, a.created_date,
   		b.order_beneficiary_id
   	from public.policy_order as a 
   		left outer join public.policy_order_beneficiary as b
   		on b.order_id=a.order_id
   	where a.order_id=#{orderId,jdbcType=VARCHAR}
    	and a.user_id=#{userId,jdbcType=VARCHAR}  	
  </select>

</mapper>